<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.zju.lab.health.monitor.dao.UserMapper">
    <resultMap type="com.edu.zju.lab.health.monitor.entity.User" id="user">
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="tel" column="tel" />
        <result property="mail" column="mail" />
    </resultMap>
    <select id="getUserByName" resultMap="user">
        SELECT * FROM users WHERE username = #{username}
    </select>

</mapper>