<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- 导航栏-->
            #set($active = "records")
            #parse("bloodpressure-tab.vm")
            <div class="page-header">
                <h6>
                    血压数据
                </h6>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>收缩压(有效值0~300mmHg)</th>
                    <th>舒张压(有效值0~300mmHg)</th>
                    <th>平均压(有效值0~300mmHg)</th>
                    <th>脉率</th>
                    <th>状况</th>
                </tr>
                </thead>
                <tbody id = "tbody">
                    #foreach($key in ${bloodpressure.keySet()})
                    <tr>
                        <td>$key</td>
                        <td>$bloodpressure.get($key).systolic_pressure</td>
                        <td>$bloodpressure.get($key).diastolic_pressure</td>
                        <td>$bloodpressure.get($key).mean_pressure</td>
                        <td>$bloodpressure.get($key).pulse_rate</td>
                        <th>正常</th>
                    </tr>
                    #end
                </tbody>
            </table>
            <div id="pagemanage">
                #set($prepage=$page - 1)
                #set($nextpage=$page + 1)
                <a href="/bloodpressure/records?page=0"><span>第一页</span></a>
                #if($page <= 0)
                    <span>上一页</span>
                #else
                    <a href="/bloodpressure/records?page=$prepage"><span> 上一页 </span></a>
                #end
                #if($page >= $pagecount - 1)
                    <span>下一页</span>
                #else
                    <a href="/bloodpressure/records?page=$nextpage"><span>下一页</span></a>
                #end
                #set($finalpage=$pagecount - 1)
                <a href="/bloodpressure/records?page=$finalpage"><span>最后一页</span></a>
            </div>
        </div>
    </div>
</div>