<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <!-- 导航栏-->
            #set($active = "records")
            #parse("bloodsugar-tab.vm")
            <div class="page-header">
                <h6>
                    血糖数据
                </h6>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>血糖值(有效范围1.1-33.3mmol/L)</th>
                    <th>状况</th>
                </tr>
                </thead>
                <tbody id = "tbody">
                    #foreach($key in ${bloodsugar.keySet()})
                    <tr>
                        <td>$key</td>
                        <td>$bloodsugar.get($key).blood_sugar</td>
                        #if($bloodsugar.get($key).status == false)
                            <th>正常</th>
                        #else
                            <th>异常</th>
                        #end
                    </tr>
                    #end
                </tbody>
            </table>
            <div id="pagemanage">
                #set($prepage=$page - 1)
                #set($nextpage=$page + 1)
                <a href="/bloodsugar/records?page=0"><span>第一页</span></a>
                #if($page <= 0)
                    <span>上一页</span>
                #else
                    <a href="/bloodsugar/records?page=$prepage"><span> 上一页 </span></a>
                #end
                #if($page >= $pagecount - 1)
                    <span>下一页</span>
                #else
                    <a href="/bloodsugar/records?page=$nextpage"><span>下一页</span></a>
                #end
                #set($finalpage=$pagecount - 1)
                <a href="/bloodsugar/records?page=$finalpage"><span>最后一页</span></a>
            </div>
        </div>
    </div>
</div>