<ul class="nav nav-tabs">
    <li #if($active == "records") class="active" #end><a href="/bloodsugar/records">检测记录</a></li>
    <li #if($active == "detail") class="active" #end><a href="/bloodsugar/detail">波形图</a></li>
</ul>