<script type="text/javascript">
    var ipAddress,port;
    function WopenStart(){
        ipAddress=document.getElementById("ip").value;
        port=document.getElementById("port").value;
        var url = "/category/save";
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            timeout: 60000,
            data: {
                'ip': ipAddress,
                'port': port,
            }
        })
        window.open('http://10.13.81.180:8888/start?surgery_no='+'$userID'+'&host='+ipAddress+'&port='+port,'_blank',width=600,height=400,top=100,right=100);
    }
    function WopenStop(){
        ipAddress=document.getElementById("ip").value;
        port=document.getElementById("port").value;
        window.open('http://10.13.81.180:8888/stop?surgery_no='+'$userID'+'&host='+ipAddress+'&port='+port,'_blank',width=600,height=400,top=100,right=100);
    }
</script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <th>健康信息类别</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id = "tbody">
                    <tr>
                        <td>心电</td>
                        <td>
                            <a href="/ecg/records">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>血压</td>
                        <td>
                            <a href="/bloodpressure/records">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>血糖</td>
                        <td>
                            <a href="/bloodsugar/records">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>血氧</td>
                        <td>
                            <a href="/bloodoxygen/records">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>血酮</td>
                        <td>
                            <a href="/bloodketone/records">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IP地址：
                            <input  type="text"  name="IPAddress" id="ip" value=$ip />
                            <br />
                            端口：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input  type="text"  name="Port" id="port" value=$port />
                            <!--a href="http://10.13.81.180:8888/start?surgery_no=$userID&host=10.13.81.181&port=60129" target="_blank" >连接设备</a-->
                        </td>
                        <td>
                            <input name="Start" type="button" onClick="WopenStart()" value="连接设备" / >
                            <input name="Stop" type="button" onClick="WopenStop()" value="断开连接" / >
                            <!--a href="http://10.13.81.180:8888/stop?surgery_no=$userID&host=10.13.81.181&port=60129" target="_blank" >断开连接</a-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


