<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <div class="page-header">
                <h6>
                    心电数据
                </h6>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>呼吸率</th>
                    <th>心率</th>
                    <th>状况</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id = "tbody">
                    #foreach($key in ${ecg.keySet()})
                    <tr>
                        <td>$key</td>
                        <td>$ecg.get($key).breath_rate</td>
                        <td>$ecg.get($key).heart_rate</td>
                        <th>正常</th>
                        <td>
                            <a href="/ecg/detail?time=$key">详情</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
            <div id="pagemanage">
                #set($prepage=$page - 1)
                #set($nextpage=$page + 1)
                <a href="/ecg/records?page=0"><span>第一页</span></a>
                #if($page <= 0)
                    <span>上一页</span>
                #else
                    <a href="/ecg/records?page=$prepage"><span> 上一页 </span></a>
                #end
                #if($page >= $pagecount - 1)
                    <span>下一页</span>
                #else
                    <a href="/ecg/records?page=$nextpage"><span>下一页</span></a>
                #end
                #set($finalpage=$pagecount - 1)
                <a href="/ecg/records?page=$finalpage"><span>最后一页</span></a>
            </div>
        </div>
    </div>
</div>


