<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <form class="form-inline">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="control-label">心电动态图</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="control-label">日期</label>
                    <input type="date" id="date" value="$time">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="control-label">查询时间范围</label>
                    <input type="time" id="starttime">
                    <span>到</span>
                    <input type="time" id="endtime">
                    <button id="data_query_btn" class="btn" type="button">查询</button>
                </form>
                <div id="breath_rate" class="hightcharts"></div>
                <div id="heart_rate" class="hightcharts"></div>
                <div id="first_lead" class="hightcharts"></div>
                <div id="second_lead" class="hightcharts"></div>
                <div id="third_lead" class="hightcharts"></div>
            </div>
        </div>
    </div>
</div>
<div id='dialog-modal'></div>
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/ >
<script src="/js/jquery.datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/dateformat.js"></script>
<script>
    function dialog_Confirm(content) {
        $("#dialog-modal").dialog({
            height: 'auto',
            modal: true,
            title: '系统提示',
            hide: 'slide',
            buttons: {
                '确定': function () {
                    $(this).dialog("close");
                }
            },
            open: function (event, ui) {
                $(this).html("");
                $(this).append("<div style='word-break:break-all'>" + content + "</div>");
            }
        });
    }

    function query(date,start,end){
        var url = "/ecg/query";
        $.ajax({
            type : 'POST',
            url : url,
            dataType:'json',
            timeout:60000,
            data : {
                'date':date,
                'start':start,
                'end':end
            },
            success : function(json) {
                if(jQuery.isEmptyObject(json)){
                    dialog_Confirm('获取数据失败!');
                }
                else{
                    var breath_rate = $("#breath_rate").highcharts();
                    var heart_rate = $("#heart_rate").highcharts();
                    var first_lead = $("#first_lead").highcharts();
                    var second_lead = $("#second_lead").highcharts();
                    var third_lead = $("#third_lead").highcharts();
                    var pattern = "yyyy-MM-dd hh:mm:ss";
                    for(var metricKey in json){
                        var j = 0;
                        var categories = [];
                        var data = [];
                        if(metricKey=='breath_rate'){
                            $.each(json[metricKey],function(key,value){
                                categories[j]=key;
                                data[j]=value;
                                j++;
                            });
                            breath_rate.xAxis[0].setCategories(categories);
                            breath_rate.xAxis[0].update({
                                tickInterval: (j-j%10)/10+1
                            });
                            breath_rate.series[0].setData(data);
                        }
                        else if(metricKey=='heart_rate'){
                            $.each(json[metricKey],function(key,value){
                                categories[j]=key;
                                data[j]=value;
                                j++;
                            });
                            heart_rate.xAxis[0].setCategories(categories);
                            heart_rate.xAxis[0].update({
                                tickInterval: (j-j%10)/10+1
                            });
                            heart_rate.series[0].setData(data);
                        }
                        else if(metricKey=='first_lead'){
                            $.each(json[metricKey],function(key,value){
                                categories[j]=getSmpFormatDateByLong(Number(key),true);
                                data[j]=value;
                                j++;
                            });
                            first_lead.xAxis[0].setCategories(categories);
                            first_lead.xAxis[0].update({
                                tickInterval: (j-j%10)/10+1
                            });
                            first_lead.series[0].setData(data);
                        }
                        else if(metricKey=='second_lead'){
                            $.each(json[metricKey],function(key,value){
                                categories[j]=getSmpFormatDateByLong(Number(key),true);
                                data[j]=value;
                                j++;
                            });
                            second_lead.xAxis[0].setCategories(categories);
                            second_lead.xAxis[0].update({
                                tickInterval: (j-j%10)/10+1
                            });
                            second_lead.series[0].setData(data);
                        }
                        else if(metricKey=='third_lead'){
                            $.each(json[metricKey],function(key,value){
                                categories[j]=getSmpFormatDateByLong(Number(key),true);
                                data[j]=value;
                                j++;
                            });
                            third_lead.xAxis[0].setCategories(categories);
                            third_lead.xAxis[0].update({
                                tickInterval: (j-j%10)/10+1
                            });
                            third_lead.series[0].setData(data);
                        }
                    }
                }
            },
            error : function() {
                dialog_Confirm('请求失败!');
            }
        });
    }
    $(function () {
        /*设置时间控件分钟的间隔，此处设置为10分钟*/
//        jQuery('#starttime').datetimepicker({step:10});
//        jQuery('#endtime').datetimepicker({step:10});

        Highcharts.setOptions({
            global: {
                useUTC: false
            },
            lang: {
                resetZoom: "重置缩放"
            }
        });
        $('#first_lead').highcharts({
            chart: {
                type: 'spline',
                zoomType: "x",
                height: 350
            },
            title: {
                text: '一导联',
                x: -20
            },
            xAxis: {
                categories: [],
            },
            yAxis: {
                title: {
                    text: '一导联'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                /*鼠标浮在曲线上某个点时显示的内容*/
                formatter: function () {
                    return '<b>' + this.series.name + '<b> '
                            +  this.x
                            + '</b><br/> ' + this.y + '';

                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                spline: {
                    lineWidth: 1.5,
                    fillOpacity: 0.1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false
                }
            },
            scrollbar: {
                enabled: true
            },
            series: [{
                name: '一导联',
                data: [],
                /*设置数据量显示阈值，此处设置3个小时的数据量60*60*3=10800，当超过阈值时显示会出问题，如果想显示的更多，则设置更大值*/
                turboThreshold: 10800
            }]
        });
        $('#second_lead').highcharts({
            chart: {
                type: 'spline',
                zoomType: "x",
                height: 350
            },
            title: {
                text: '二导联',
                x: -20
            },
            xAxis: {
                categories: [],
            },
            yAxis: {
                title: {
                    text: '二导联'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                /*鼠标浮在曲线上某个点时显示的内容*/
                formatter: function () {
                    return '<b>' + this.series.name + '<b> '
                            +  this.x
                            + '</b><br/> ' + this.y + '';

                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                spline: {
                    lineWidth: 1.5,
                    fillOpacity: 0.1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false
                }
            },
            scrollbar: {
                enabled: true
            },
            series: [{
                name: '二导联',
                data: [],
                /*设置数据量显示阈值，此处设置3个小时的数据量60*60*3=10800，当超过阈值时显示会出问题，如果想显示的更多，则设置更大值*/
                turboThreshold: 10800
            }]
        });
        $('#third_lead').highcharts({
            chart: {
                type: 'spline',
                zoomType: "x",
                height: 350
            },
            title: {
                text: '三导联',
                x: -20
            },
            xAxis: {
                categories: [],
            },
            yAxis: {
                title: {
                    text: '三导联'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                /*鼠标浮在曲线上某个点时显示的内容*/
                formatter: function () {
                    return '<b>' + this.series.name + '<b> '
                            +  this.x
                            + '</b><br/> ' + this.y + '';

                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            plotOptions: {
                spline: {
                    lineWidth: 1.5,
                    fillOpacity: 0.1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 5
                            }
                        }
                    },
                    shadow: false
                }
            },
            scrollbar: {
                enabled: true
            },
            series: [{
                name: '三导联',
                data: [],
                /*设置数据量显示阈值，此处设置3个小时的数据量60*60*3=10800，当超过阈值时显示会出问题，如果想显示的更多，则设置更大值*/
                turboThreshold: 10800
            }]
        });
        query( $('#date').val(),"00:00","23:59");
    });

</script>
<script type="text/javascript">
    $('#data_query_btn').on('click', function () {
        var date = $('#date').val();
        var start = $('#starttime').val();
        var end = $('#endtime').val();
        query(date,start,end);
    });

</script>